{% extends 'base.html.twig' %}

{% block title %}BestBrico - Panier{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="content-container" style="margin-top: 100px;">
            <div class="col-10 mx-auto">
                <h1 class="text-center">BestBrico, votre panier</h1>
                <hr my-4>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 30%;">Produit</th>
                            <th scope="col">Image</th>
                            <th scope="col" style="width: 15%;">Prix</th>
                            <th scope="col">Quantité</th>
                            <th scope="col" style="width: 15%;">Total</th>
                            <th class="text-center align-middle" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in liste %}
                        <tr class="table-secondary">
                            <td>{{ article.produit.nom }}</td>
                            <td>
                                {% if article.produit.imageName %}
                                    <div class="produitImage">
                                        <a href="{{ path("app_detail", { id: article.produit.id }) }}">
                                            <img style="width: 100px; height: 100px;" src="{{ vich_uploader_asset(article.produit, 'imageFile') }}">
                                        </a>
                                    </div>
                                {% elseif article.produit.sousCategorie.imagesrc %}
                                    <a href="{{ path("app_detail", { id: article.produit.id }) }}">
                                        <img style="max-width:100px; height: 100px;" src="/images/sous_categorie/{{ article.produit.sousCategorie.imagesrc }}">
                                    </a>
                                {% else %}
                                    <img style="max-width:200px; height: 200px;" src="/images/placeholder.jpg" alt="">
                                {% endif %}
                            </td>
                            <td>{{ article.produit.prix / 100 }} €</td>
                            <td>{{ article.quantite }}</td>
                            <td>{{ article.quantite * article.produit.prix / 100}} €</td>
                            <td>
                            <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ path('app_add', {id: article.produit.id}) }}" class="btn btn-outline-primary" title="Ajouter un article">+</a>
                            <a href="{{ path('app_remove', {id: article.produit.id}) }}" class="btn btn-outline-primary" title="Supprimer un article">-</a>
                            <a href="{{ path('app_delete', {id: article.produit.id}) }}" class="btn btn-outline-secondary" title="Supprimer la ligne"><i class="fa-solid fa-trash"></i>
                            </a>
                            </div>
                            </td>
                        </tr>
                        
                    {% else %}
                        <tr>
                        <td colspan="6">Votre panier est vide !</td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total du panier :</td>
                            <td> {{ total / 100 }} € H.T</td>
                            <td>
                                <a href="/empty" class="btn btn-outline-danger btn-sm mb-2 float-end" title="Mettre le panier à 0">Vider le panier</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
                <a href="{{ path('app_commande') }}" class="btn btn-outline-primary mb-2 float-end"  title="Valider votre commande">Commander</a>
                
                <form>
                <input type="button" class="btn btn-outline-primary" title="Revenir à la page précédente" value="<< Retour" onclick="history.go(-1)">
                </form>
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <h2 class="text-center mt-4">Nos offres en pack chantier !</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/caroussel/lotAEG.jpg" class="d-block w-100" alt="MAKITA Kit MK1101 (DDF482+DHR171+ DGA504+ DTD152+ DJV182+ DSS610+ DJR186+ DBO180+ DTM51+ DML802+ DTW190+3x5,0Ah+DC18RD+2xLXT600)">
    </div>
    <div class="carousel-item">
      <img src="images/caroussel/lotBosch.jpg" class="d-block w-100" alt="KIT 3 OUTILS 18V Perceuse Meuleuse Perforateur BOSCH Pro - 0615990M0W">
    </div>
    <div class="carousel-item">
      <img src="images/caroussel/lotDewalt.jpg" class="d-block w-100" alt="MAKITA Pack 7 outils 18V 5x5Ah - DLX7013PT1">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            </div>
        <br>
        </div>
        
    </div>
    
{% endblock %}


