{% extends 'base.html.twig' %}

{% block title %}BestBrico - Panier{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="content-container" style="margin-top: 70px;">
            <div class="col-10 mx-auto">
                <h1 class="text-center">BestBrico, votre panier</h1>
                <hr my-4>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 30%;">Produit</th>
                            <th scope="col">Image</th>
                            <th scope="col" style="width: 15%;">Prix</th>
                            <th scope="col">Quantité</th>
                            <th scope="col" style="width: 15%;">Total</th>
                            <th class="text-center align-middle" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in liste %}
                        <tr class="table-secondary">
                            <td>{{ article.produit.nom }}</td>
                            <td>{{ article.produit.image }}
                                <img style="max-width: 50%;" src="{{ vich_uploader_asset(article.produit, 'imageFile')}}"> 
                            </td>
                            <td>{{ article.produit.prix / 100 }} €</td>
                            <td>{{ article.quantite }}</td>
                            <td>{{ article.quantite * article.produit.prix / 100}} €</td>
                            <td>
                            <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ path('app_add', {id: article.produit.id}) }}" class="btn btn-outline-primary" title="Ajouter un article">+</a>
                            <a href="{{ path('app_remove', {id: article.produit.id}) }}" class="btn btn-outline-primary" title="Supprimer un article">-</a>
                            <a href="{{ path('app_delete', {id: article.produit.id}) }}" class="btn btn-outline-secondary" title="Supprimer la ligne"><i class="fa-solid fa-trash"></i>
                            </a>
                            </div>
                            </td>
                        </tr>
                        
                    {% else %}
                        <tr>
                        <td colspan="6">Votre panier est vide !</td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Total du panier :</td>
                            <td> {{ total / 100 }} € H.T</td>
                            <td>
                                <a href="/empty" class="btn btn-outline-danger btn-sm">Vider le panier</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <center>
                <a href="{{ path('app_commande') }}" class="btn btn-outline-primary">Commander</a>
                </center>
            </div>
        </div>
    </div>
{% endblock %}
