{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in liste %}
                        <tr class="table-primary">
                            <td>{{ article.produit.nom }}</td>
                            <td>{{ article.produit.prix / 100 }} €</td>
                            <td>{{ article.quantite }}</td>
                            <td>{{ article.quantite * article.produit.prix / 100}} €</td>
                            <td>
                            <a href="{{ path('app_add', {id: article.produit.id}) }}" class="btn btn-outline-primary">+</a>
                            <a href="{{ path('app_remove', {id: article.produit.id}) }}" class="btn btn-outline-primary">-</a>
                            <a href="{{ path('app_delete', {id: article.produit.id}) }}" class="btn btn-outline-secondary btn-sm">Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                        <td colspan="5">Votre panier est vide</td>
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total du panier :</td>
                            <td> {{ total / 100 }} €</td>
                            <td>
                                <a href="/empty" class="btn btn-outline-danger btn-sm">Vider le panier</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <a href="#" class="btn btn-outline-primary btn-sm">Valider le panier</a>
            </div>
        </section>
    </main>
{% endblock %}
