{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}

{% block body %}
<div class="content-container" style="margin-top: 80px;">
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>{{ detail.nom }}</h1>
            </div>
            <div class="col-6">
                <img style="max-width:50%;" src="{{ vich_uploader_asset(detail, 'imageFile')}}">  
            </div>
            <div class="col-6">
                <p>{{ detail.description }}</p>
                <p>Secteur : {{ detail.SousCategorie.nom }}</p>
                <p>Prix : {{ detail.prix / 100 }} € H.T</p>
                {% if detail.stock > 0 %}
                    <a href="{{ path('app_add', {id: detail.id}) }}" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %}
            </div>
        </section>
    <a href="{{ path("app_produit", { id: detail.souscategorie.id }) }}", class="badge bg-primary mb-4" title="Revenir au secteur">Retour</a>
    </main>
</div>
{% endblock %}



