{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
 {# <div class="imagesHeader d-flex w-100 h-100 flex-colum justify-content-center align-items-center"> #}
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
        
        {% for message in app.flashes('success') %}          
        <div class="alert alert-success mt-4">           
            {{ message }}
        </div>
        {% endfor %}
        
            <div class="content-container" style="margin-top: 100px;">
            <div class="jumbotron">
                  
                <div class="container">

                    {% for message in app.flashes('success') %}          
                <div class="alert alert-success mt-4">           
                    {{ message }}
                
                
            {% endfor %}
                    <div class="row">
                        <center>
                        <h1 class="dispaly-1 text-primary text-center">BIENVENUE SUR BESTBRICO</h1>
                        </center>
                        <p class="lead text-primary">Tout le matériel dont vous aurez besoin, que ce soit pour vos travaux de construction ou d'aménagement, équiper un bien immobilier,
                        ne cherchez plus, vous êtes au bon endroit. Nous vous proposons un grand choix de marques au meilleur prix, élu meilleur site par nos artisans.</p>
                        <hr class="my-2">
                    </div>
                
                
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 justify-content-center g-4">
                {% for cat in categories %}
                    <div class="col mt-5">
                        <a href="{{ path("app_categorie", {id: cat.id}) }}">
                            <div class="card text-white bg-primary mb-4 custom-card">
                        
                                <div class="card-header d-flex justify-content-center h2">{{ cat.nom }}</div>
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <img src="/images/categorie/{{ cat.imagesrc }}" alt="categorie" style="max-height: 250px; width: 100%;">
                                <p class="card-text text-center"></p>
                                </div>
                            </div>
                
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            </div> 
    </div>    
    </div>
    <div class="text-center text-white mt-4">
            <p style="font-size: 30px;">Je crée mon compte : <a class="btn btn-primary btn-sm" href="{{ path("registration") }}" role="button" title="Cliquez ici" style="font-size: 30px;">Création de compte</a></p> 
    
    </div>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <h2 class="text-center text-primary mt-4">Nos offres en pack chantier !</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/caroussel/lotAEG.jpg" class="d-block w-100" alt="MAKITA Kit MK1101 (DDF482+DHR171+ DGA504+ DTD152+ DJV182+ DSS610+ DJR186+ DBO180+ DTM51+ DML802+ DTW190+3x5,0Ah+DC18RD+2xLXT600)">
    </div>
    <div class="carousel-item">
      <img src="images/caroussel/lotBosch.jpg" class="d-block w-100" alt="KIT 3 OUTILS 18V Perceuse Meuleuse Perforateur BOSCH Pro - 0615990M0W">
    </div>
    <div class="carousel-item">
      <img src="images/caroussel/lotDewalt.jpg" class="d-block w-100" alt="MAKITA Pack 7 outils 18V 5x5Ah - DLX7013PT1">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <br>
  </div>


    
{% endblock %}
