{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
 
    <div class="container mx-auto mt-4">
        {% for message in app.flashes('success') %}          
        <div class="alert alert-success mt-4">           
            {{ message }}
        </div>
        {% endfor %}
        <div class="imagesHeader d-flex w-100 h-100 flex-colum justify-content-center align-items-center">
            <div class="content-container" style="margin-top: 70px;">
            <div class="jumbotron">
                  
                <div class="container">
            
                    <div class="row">
                        <center>
                        <h1 class="dispaly-1 text-primary text-center">Bienvenue sur BestBrico</h1>
                        </center>
                        <p class="lead">Tout le matériel dont vous aurez besoin, que ce soit pour vos travaux de construction ou d'aménagement, équiper un bien immobilier,
                        ne cherchez plus, vous êtes au bon endroit. Nous vous proposons un grand choix de marques au meilleur prix, élu meilleur site par nos artisans.</p>
                        <hr class="my-2">
                    </div>
                </div>
                
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 justify-content-center">
            {% for cat in categories %}
                    <div class="row mt-4">
                        <a href="{{ path("app_categorie", {id: cat.id}) }}">
                            <div class="card text-white bg-primary mb-2">
                        
                                <div class="card-header d-flex justify-content-center h2">{{ cat.nom }}</div>
                                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                <img src="/images/categorie/{{ cat.imagesrc }}" alt="categorie" style="max-height: 200px; width: 100%;">
                                <p class="card-text text-center"></p>
                                </div>
                            </div>
                
                        </a>
                    </div>
            {% endfor %}
                </div>
            </div>
            </div> 
        </div>
    <div>
        <center>
            <p>Pour commander : <a class="btn btn-primary btn-sm" href="{{ path("registration") }}" role="button">Créer votre compte</a></p> 
        </center>
    </div>
    
{% endblock %}
