{% extends 'base.html.twig' %}

{% block title %}{{ souscategorie.nom }}{% endblock %}

{% block body %}
    
    <div class="content-container" style="margin-top: 80px;">
        <div class="row">
            <div class="col-12">
                
                <h1 class="dispaly-2 text-primary text-center">{{ souscategorie.categorie.nom }} {{ souscategorie.nom }}</h1>
                <hr class="my-2">
                
                <div class="container">
                    <div class="row">
                        {% for produit in produits %}
                            <div class="col-md-6 mb-4">
                                <div class="card h-100 d-flex flex-row">
                                    {% if produit.imageName %}
                                    <div class="produitImage">
                                        <a href="{{ path("app_detail", { id: produit.id }) }}">
                                            <img style="width: 200px; height: 200px;" src="{{ vich_uploader_asset(produit, 'imageFile') }}">
                                        </a>
                                    </div>
                                    {% else %}
                                    <div>
                                        {% if souscategorie.imagesrc %}
                                            <a href="{{ path("app_detail", { id: produit.id }) }}">
                                                <img style="max-width:200px; height: 200px;" src="/images/sous_categorie/{{ souscategorie.imagesrc }}">
                                            </a>
                                        {% else %}
                                            <img style="max-width:200px; height: 200px;" src="/images/placeholder.jpg" alt="">
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="card-body d-flex flex-column">
                                        <div>
                                            <h5 class="card-title">{{ produit.nom }}</h5>
                                            <p class="card-text">{{ produit.description }}</p>
                                        </div>
                                        <a href="{{ path("app_detail", { id: produit.id }) }}" class="mt-auto btn btn-outline-primary btn-sm">Voir le détail</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{{ path("app_categorie", { id: souscategorie.categorie.id }) }}", class="badge bg-primary mb-4" title="Revenir au secteur">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



